* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121830;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #1c1b43;
  height: 3em;
}

button {
  font-family: "Indie Flower", cursive;
  background-color: #1c1b43;
  border: none;
  color: aliceblue;
  font-size: 1.5em;
}

footer {
  text-align: center;
  color: #d2da4b;
  font-size: 1.5em;
  font-family: "Indie Flower", cursive;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.name {
  font-size: 2vw;
  text-align: center;
}

.image {
  width: 100%;
}

.card {
  display: block;
  flex:1;
  font-family: "Ravi Prakash", cursive;
  background-color: #16acc9;
  border: solid 0.3em #d2da4b;
  border-radius: 2mm;
  margin: 1em;
  width: 250px;
  height: 340px;
}

.wrapper {
}
/* 
.wrapper{
 
  max-width: 960px;
  margin: 2em auto;
  column-count: 3;
}

@media screen and (min-width: 600px) {
  .wrapper {
    display: flex;
  }

  .card {
    flex: 1;
    margin-right: 5%;
  }

} */
