* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #121830;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  background-color: #1c1b43;
}

ul {
  margin: 0;
  list-style-type: none;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #1c1b43;
  color: #f3e4e4;
  font-family: "Indie Flower", cursive;
  cursor: pointer;
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;
}

footer {
  text-align: center;
  color: #d2da4b;
  font-size: 1.5em;
  font-family: "Indie Flower", cursive;
  flex-shrink: 0;
}

.name {
  font-size: 1.5rem;
  text-align: center;
}

#menu-icon {
  background-color: #1c1b43;
  color: white;
  cursor: pointer;
  font-size: 4rem;
}

.toggle {
  transform: translateX(0);
}

.image {
  width: 100%;
}

.card {
  font-family: "Ravi Prakash", cursive;
  background-color: #16acc9;
  border: solid 0.3em #d2da4b;
  border-radius: 0.3rem;
  cursor: pointer;
}

.card:hover {
  filter: drop-shadow(0 0 0.95rem #16acc9);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 80%;
  margin: 4rem auto;
  grid-gap: 1rem;
}

.pagenumbers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 0.8rem;
  width: 80%;
  margin: 4rem auto;
}

.pagenumbers button {
  background-color: #16acc9;
  font-family: "Ravi Prakash", cursive;
  font-size: 2rem;
}

.pagenumbers button.active {
  background-color: #d2da4b;
}

.hidden-card {
  visibility: hidden;
  opacity: 0;
  order: 1;
}

.hidden-section {
  display: none;
}

.search-bar {
  width: 80%;
  height: 50px;
  border-radius: 25px;
  margin-left: 10%;
  margin-top: 2%;
  font-size: 1.5rem;
  font-family: "Ravi Prakash", cursive;
  text-align: center;
}

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.showModal {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  position: relative;
  background-color: #16acc9;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.botonModal {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 640px) {
  .menuItem {
    height: 4rem;
    font-size: 2.5rem;
  }
  .menuItem:hover {
    background-color: rgb(255, 250, 250);
    color: #666666;
    border-radius: 10px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
  .menuItem {
    height: 4rem;
    font-size: 2.5rem;
  }
  .menuItem:hover {
    background-color: rgb(255, 250, 250);
    color: #666666;
    border-radius: 10px;
  }
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  ul {
    transform: translateX(0);
    position: relative;
    flex-direction: row;
    top: 0;
    justify-content: space-around;
  }
  li {
    margin: 0 1rem;
    font-size: 2rem;
  }
  #menu-icon {
    display: none;
  }

  .menuItem:hover {
    text-decoration: underline;
    color: #666666;
  }
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
